.wrap {
    display: flex;
    padding: 40px 0;
    border-bottom: 1px solid #ccc;
  }
  
  .img_item {
    flex: 300px 0 0;
  }
  .img_item img {
    display: block;
  }
  
  .info_item {
    flex: 1 0 0;
  }
  
  .tit_item {
    display: block;
    font-size: 22px;
    margin-top: 20px;
  }
  
  .num_price {
    display: block;
    font-size: 30px;
    margin-top: 20px;
    color: #d60084;
  }
  
  .txt_info {
    display: block;
    font-size: 20px;
    margin: 20px 0 40px;
  }
  .buy_item {
    padding:10px;
  }